@namespace FileFlows.Client.Components.Inputs.InputWidgetPreviews

<table style="width:100%;font-size:0.8rem">
    <thead>
        <tr>
            <th class="name">Name</th>
            <th class="status" style="width: 7rem;text-align:center;">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr style="border-top:solid 1px var(--border-color)">
            <td>Internal</td>
            <td style="width: 7rem;text-align:center;">@Translater.Instant("Enums.ProcessingNodeStatus.Idle")</td>
        </tr>
        <tr style="border-top:solid 1px var(--border-color)">
            <td>Linux</td>
            <td style="width: 7rem;text-align:center;">@Translater.Instant("Enums.ProcessingNodeStatus.OutOfSchedule")</td>
        </tr>
        <tr style="border-top:solid 1px var(--border-color)">
            <td>MacOS</td>
            <td style="width: 7rem;text-align:center;">@Translater.Instant("Enums.ProcessingNodeStatus.Idle")</td>
        </tr>
        <tr style="border-top:solid 1px var(--border-color)">
            <td>Windows</td>
            <td style="width: 7rem;text-align:center;">@Translater.Instant("Enums.ProcessingNodeStatus.Processing")</td>
        </tr>
    </tbody>
</table>
