.toast-button {
  position: absolute;
  top: 0.65rem;
  right: 1rem;
  z-index: 2;
}

@media (min-width: 850px) {
  .toast-button-btn {
    width: 2.5rem;
    opacity: 0.5;
    border-color: var(--input-background) !important;
  }
  .toast-button-btn.has-items {
    border-color: var(--accent) !important;
    opacity: 0.7;
  }
  .toast-button-btn.has-items:hover {
    opacity: 1;
  }
  .toast-button-btn.active {
    opacity: 1;
    background-image: var(--btn-background-image, linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3))) !important;
    box-shadow: var(--btn-box-shadow, inset 0 -3px 0 0 var(--accent)) !important;
  }
}
@media (max-width: 849.999px) {
  .toast-button {
    z-index: 3;
    top: calc(1.2rem - 1px);
    right: 4.1rem;
  }
  .toast-list {
    top: 4.75rem;
  }
  .toast-button-btn {
    font-size: 1.3rem;
    width: 2.5rem;
    border-radius: 0.25rem !important;
    border-color: var(--input-background) !important;
    display: none;
  }
  .toast-button-btn.active {
    border-color: var(--accent) !important;
  }
  .toast-button-btn.active i {
    opacity: 1 !important;
  }
  .toast-button-btn.has-items {
    display: unset;
  }
  .toast-button-btn i {
    opacity: 0.5;
    font-size: 1.1rem;
    padding: 0.25rem 0;
    position: relative;
    left: -0.1rem;
  }
  .toast-list {
    z-index: 3;
  }
}
.toast-list {
  position: absolute;
  right: 1rem;
  width: 23rem;
  top: 3.75rem;
  bottom: 0;
  height: fit-content;
  max-height: calc(100vh - 4rem);
}

.ff-toast {
  z-index: 5;
}

.ff-toast-editor {
  z-index: 11;
}
