.cp-input
{
  label {
    display:flex;
    flex-direction: column;
  } 
  span {
    margin-bottom:0.25rem;
  }
  + .cp-input {
    margin-top:1rem;
  }
  input {
    flex-grow:1;
    width:100%;
  }
}