.flow-bar {
    height: 1rem;
    position: relative;
    top: 10px;
    width:calc(100% - 10px);
}
.header {
    display:flex;
    span {
        flex-grow:1;
    }
}

@media (max-width: 849.99px)
{
    .btn-search {
        position: fixed;
        top: 0.75rem;
        z-index: 1000000;
        right: 4.5rem;
        width: 9rem;
        border-color: var(--border-color);
    }    
}
@media (max-width:310px){
    .btn-search {
        width: unset;
    }
}
.column-header {
    visibility:hidden;
}
.filters {
    display:flex;
}

@media (max-width:540px){
    .filters {
        display:none;
    }
    .column-header {
        visibility: unset;
    }
}
.worker-progress.has-current {
    .current-progress {
        bottom: 0.3rem !important;
        background:#2b8fb3 !important;
    }
    .overall-progress { 
        flex-grow: 1;
        width: 25%;
        top: unset;
        height: 0.2rem;
    }
}
.flags {
    margin-right:0.5rem;
}



.library-file {
    .center {
        .name {
            span {
                overflow: hidden;
                text-overflow: ellipsis;
                &:first-child:has(+ span) {
                    font-weight: var(--bold, 600);
                }
            }
        }
    }
    .right{
        width:14rem;
        min-width: 14rem;
        .right-inner {
            height: 4rem;
            padding: 1.75rem 0 0 0.5rem;
        }
    }
}

@media screen and (max-width: 850px){
    .library-file {
        .icon {
            display:none;
        }
        .right {
            min-width:8rem;
            width:8rem;
        }
        .time, .node {
            display:none;
        }
    }
}
@media screen and (max-width:450px){
    .library-file {
        .name {
            white-space: pre-wrap;
            --bold:300;
        }
        .info, .output-path {
            display:none !important;
        }
    }
}

.file-size {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    font-weight: var(--bold, 600);
}