.flow-bar {
    height: 1rem;
    position: relative;
    top: 10px;
    width:calc(100% - 10px);
}
.header {
    display:flex;
    span {
        flex-grow:1;
    }
}

@media (max-width: 849.99px)
{
    .btn-search {
        position: fixed;
        top: 0.75rem;
        z-index: 1000000;
        right: 4.5rem;
        width: 9rem;
        border-color: var(--border-color);
    }    
}
@media (max-width:310px){
    .btn-search {
        width: unset;
    }
}
.column-header {
    visibility:hidden;
}
.filters {
    display:flex;
}

@media (max-width:540px){
    .filters {
        display:none;
    }
    .column-header {
        visibility: unset;
    }
}
.worker-progress.has-current {
    .current-progress {
        bottom: 0.3rem !important;
        background:#2b8fb3 !important;
    }
    .overall-progress { 
        flex-grow: 1;
        width: 25%;
        top: unset;
        height: 0.2rem;
    }
}
.flags {
    margin-right:0.5rem;
}