.flow-bar {
  height: 1rem;
  position: relative;
  top: 10px;
  width: calc(100% - 10px);
}

.header {
  display: flex;
}
.header span {
  flex-grow: 1;
}

@media (max-width: 849.99px) {
  .btn-search {
    position: fixed;
    top: 0.75rem;
    z-index: 1000000;
    right: 4.5rem;
    width: 9rem;
    border-color: var(--border-color);
  }
}
@media (max-width: 310px) {
  .btn-search {
    width: unset;
  }
}
.column-header {
  visibility: hidden;
}

.filters {
  display: flex;
}

@media (max-width: 540px) {
  .filters {
    display: none;
  }
  .column-header {
    visibility: unset;
  }
}
.worker-progress.has-current .current-progress {
  bottom: 0.3rem !important;
  background: #2b8fb3 !important;
}
.worker-progress.has-current .overall-progress {
  flex-grow: 1;
  width: 25%;
  top: unset;
  height: 0.2rem;
}

.flags {
  margin-right: 0.5rem;
}

.library-file {
  position: relative;
  display: flex;
  flex-direction: row;
  line-height: 2;
  padding: 0 0 0.25rem;
}
.library-file .icon {
  width: 3.25rem;
  min-width: 3.25rem;
  margin-right: 0.75rem;
}
.library-file .icon img {
  width: 100%;
  height: 100%;
}
.library-file .center {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.library-file .center .info {
  display: flex;
  flex-direction: row;
}
.library-file .center .name {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  flex-direction: column;
}
.library-file .center .name span {
  overflow: hidden;
  text-overflow: ellipsis;
}
.library-file .center .name span:first-child:has(+ span) {
  font-weight: var(--bold, 600);
}
.library-file .right {
  width: 14rem;
  min-width: 14rem;
  padding: 0.5rem;
  align-self: center;
}
.library-file .right .right-inner {
  height: 4rem;
  padding: 1.75rem 0 0 0.5rem;
}
.library-file .right .finished, .library-file .right .time {
  font-weight: var(--bold, 600);
  position: absolute;
  top: 0;
  padding: 0 0.75rem;
  border-bottom-left-radius: 0.5rem;
  width: fit-content;
  text-align: center;
}
.library-file .right .finished {
  background: #303030;
  right: 0;
}
.library-file .right .time {
  display: none;
  right: 5rem;
  background: #464545;
  padding-right: 2.5rem;
  width: 8rem;
}
.library-file .icon-value {
  cursor: pointer;
  border: solid 1px var(--iv-color);
  border-radius: 0.5rem;
  overflow: hidden;
  display: flex;
  font-size: 0.7rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
}
.library-file .icon-value.flow {
  --iv-color: #345772;
}
.library-file .icon-value.node {
  --iv-color: #780746;
}
.library-file .icon-value.library {
  --iv-color: #0d5d38;
}
.library-file .icon-value.flag {
  --iv-color: #aa2975;
}
.library-file .icon-value.time {
  --iv-color: #ac6300;
}
.library-file .icon-value i {
  padding: 0 0.5rem;
  background: var(--iv-color);
  display: flex;
  align-items: center;
}
.library-file .icon-value .value {
  font-weight: var(--bold, 600);
  padding: 0 0.5rem;
}

@media screen and (max-width: 850px) {
  .library-file .icon {
    display: none;
  }
  .library-file .right {
    min-width: 8rem;
    width: 8rem;
  }
  .library-file .time, .library-file .node {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .library-file .name {
    white-space: pre-wrap;
    --bold:300;
  }
  .library-file .info, .library-file .output-path {
    display: none !important;
  }
}

/*# sourceMappingURL=LibraryFiles.razor.css.map */
