.flow-elements-tab-inner {
  --flow-elements-middle-mt: 3rem;
}
.flow-elements-tab-inner.mobile-view {
  --flow-elements-middle-mt: 5.5rem;
}

.group {
  padding: .25rem 0;
  margin: .5rem;
  text-align: center;
}
.flow-element + .group {
  border-top:1px solid var(--border-color);
  margin-top:1.25rem;
}

.flow-elements {
  width: 20vw;
  min-width: 12rem;
  max-width: 18rem;
  max-height: 100%;
  overflow: hidden;
  border-left: 1px solid var(--border-color);

  .flow-elements-filter {
    margin: 0 0.5rem;
    padding: 0.5rem 0;
    border-bottom: solid 1px var(--border-color);
    position: relative;
    flex-grow:1;

    input {
      width: 100%;
    }

    .fas {
      position: absolute;
      right: 0.5rem;
      top: 1.1rem;
      font-size: 0.8rem;
      color: rgba(var(--color-rgb), 0.5);
    }
  }

  .ul {
    flex-grow:1;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-y: auto;
  }
  .flow-element.selected {
    border-color:var(--accent) !important;
    background:rgba(var(--accent-rgb), 0.3) !important;
    .icon-wrapper {
      border-color:var(--accent) !important;
    }
  }
}


.flow-elements-tab-inner {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}


.flow-elements-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  + .flow-elements-middle {
    margin-top: var(--flow-elements-middle-mt);
  }
}


.mobile-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 0.5rem;
}

.flow-elements-middle
{
  overflow:auto;
  height:100%;
}

.flow-elements-bottom{
  margin:1rem;
  align-self: center;
}

.ul {
  .group-title 
  { 
    i, .count {
      display: none;
    }
  }
}

// Define styles for the accordion
.accordion {
  max-height: 100%;
  user-select: none;
  .group {
    border: 1px solid var(--border-color);
    background: rgba(var(--input-background-rgb), 0.25);

    .group-title {
      cursor: pointer;
      position: relative;
      i {
        position: absolute;
        left: 0.5rem;
        top: 0.35rem;
      }
      .count {
        background: var(--base);
        font-size: 0.75rem;
        padding: 0.15rem 0.35rem 0;
        border-radius: 1rem;
        font-weight: var(--bold, 600);
        border: solid 1px var(--info);
        position: absolute;
        right: 0.25rem;
      }
    }

    .group-items {
      display: block;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease; /* Add transition for smooth animation */
    }
  }

  .group.collapsed .group-items {
    max-height: 0; /* Collapse the group contents */
  }

  @for $i from 1 through 100 {
    .group.expanded .group-items-#{$i} {
      max-height: 40px * $i; 
    }
  }
}
