.node-wrapper {
  display:flex;
  flex-direction: row;
  &.disabled {
    opacity: 0.3;
  }
}

.node-icon {
  position:relative;
  text-align: center;
  padding:0.5rem;
  width:8rem;
  height: 6rem;
  align-self: center;
  i {
    font-size:4rem;
    height:4.5rem;
  }
  .architecture
  {
    position: absolute;
    bottom: 0.5rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    line-height: 1.25;
    font-weight: 600;
    color: white;
  }

  &.status-error .architecture {
    background-color: var(--danger);
  }
  &.status-warning .architecture {
    background-color: var(--warning);
  }
  &.status-ok .architecture {
    background-color: var(--success);
  }
}

.indicators {
  > span {
    border: solid 1px var(--flow-process);
    padding: 0.15rem 0.25rem;
    margin-right: 0.5rem;
    font-size: 0.8rem;
    &.offline {
      border-color: var(--danger);
    }
    &.possibly-disconnected {
      border-color: var(--warning);
    }
  }
}

.btn-download-node {
  width:auto !important;
}

.info {
  flex-grow:1;
}
.enabled {
  width:8rem;
  min-width: 8rem;
}
.version {
  display: block;
  font-weight: var(--bold, 600);
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(63, 63, 63, 0.5490196078);
  padding: 0.25rem 0.75rem 0;
  font-size: 0.9rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;;
}
.name {
  font-size:1.2rem;
}
.sub-info {
  display:flex;
  flex-direction: column;
  .label {
    font-weight: 600;
    margin-right:0.5rem;
  }
}

.enabled {
  display:flex;
  height: 100%;
  align-items: center;
  text-align: center;
  justify-content: center;
  align-self: center;
  margin-top: 2rem;
}