h2 {
  font-size: 1.25rem;
  margin: 0;
  padding: 0 1rem;
  i {
    margin-right:0.25rem;
    cursor:pointer;
  }
}

.field-wrapper {
  display:flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 4.05rem);
}

.field-list {
  flex-grow:1;
  overflow: auto;
  text-align: center;
  
  input[type=text], select {
    width:100%;
    height: var(--input-height, 2.1875rem);
    line-height: 1.5;
    font-size: 1rem;
    padding: 0.1875rem 0.625rem;
    outline: none !important;
    border: none;
    background: transparent;
  }
  
  .field
  {
    display:flex;
    margin: 0.25rem;
    border-radius: 0.25rem;
    overflow: hidden;
    .input {
      flex-grow:1;
      display: flex;
      flex-direction: row;
      border:solid 1px transparent;
      border-left:solid 0.5rem var(--base);
      background: var(--input-background);
      .name {
        flex-grow:1;
      }
      select {
        font-size: 0.8rem;
        text-transform: uppercase;
        width: 8rem;
        option {
          background: var(--input-background);
          color:var(--color);
        }
      }
    }
    &.selected .input {
      border-color:var(--accent);
    }
    .actions {
      width:4.5rem;
      min-width:4.5rem;
      text-align: center;
      align-self: center;
      i {
        cursor:pointer;
        padding: 0.5rem 0.25rem;
        font-size: 1rem;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
      }      
    }
  }
  .btn {
    margin:1rem 0;
  }
}
.field-editor {
  border-top:1px solid var(--border-color);
  padding:1rem 0;
  .content {
    width: 90%;
    margin: auto;   
  }  
}