.initial-config
{
  height: 100vh;
  display: flex;
  background: var(--gray-dark);
}
.loading-background {
  height: 100vh;
  background:black;
}

h1 {
  font-size:1.1rem;
}

.eula-page {
  .switch {
    margin-top:2rem;
    span {
      cursor:pointer;
    }
  }
  
  ::deep h1 {
    font-size:1.1rem;
  }
}

.pre-text
{
  white-space: pre-line;
}
ol {
  margin: 2rem 0;
  li + li {
    margin-top:1rem;
  }
  li > span {
    font-weight: var(--bold, 600);
  }
}

.table-item {
  .icon {
    i {
      font-size:1.8rem;
    }
    img {
      width: 2rem;
      min-width: 2rem;
    }
  }
  .description {
    white-space: pre-line;
    padding-right:1rem;
  }
}