@namespace FileFlows.Client.Pages

@page "/initial-config"
@layout EmptyLayout

<div class="initial-config">
    <FlowWizard>
        <FlowWizardPage Title="Welcome">
            Welcome to your FileFlows installation!
        </FlowWizardPage>
        <FlowWizardPage Title="EULA">
            Yo you must accept the EULA!
        </FlowWizardPage>
        <FlowWizardPage Title="Plugins">
            Pick which Plugins you wish to install, they will be downloaded from the FileFlows repository.
        </FlowWizardPage>
        <FlowWizardPage Title="Finish">
            Start using FileFlows!
        </FlowWizardPage>
    </FlowWizard>
    
</div>
