.initial-config {
  height: 100vh;
  display: flex;
  background: var(--gray-dark);
}

.loading-background {
  height: 100vh;
  background: black;
}

h1 {
  font-size: 1.1rem;
}

.eula-page .switch {
  margin-top: 2rem;
}
.eula-page .switch span {
  cursor: pointer;
}
.eula-page ::deep h1 {
  font-size: 1.1rem;
}

.pre-text {
  white-space: pre-line;
}

ol {
  margin: 2rem 0;
}
ol li + li {
  margin-top: 1rem;
}
ol li > span {
  font-weight: var(--bold, 600);
}

.table-item .icon i {
  font-size: 1.8rem;
}
.table-item .icon img {
  width: 2rem;
  min-width: 2rem;
}
.table-item .description {
  white-space: pre-line;
  padding-right: 1rem;
}
