@namespace FileFlows.Client.Components.Dashboard

<h1>Not Yet Configured</h1>
<p>You have not yet configured any Flows or Libraries.</p><br/>

<h2>Plugins</h2>
<p>FileFlows comes with basic file processing capabilities, but it can be extended via plugins to handle Videos, Audio, Images, and more.</p>
<p>To enable these additional features, you need to download the appropriate plugins from the 
    Plugin Repository on the <a href="/plugins">Plugins Page</a>.</p>
<p>Once you have downloaded the required plugins, you can create flows using those plugins.</p>

<br/>

<h2>Creating a Flow</h2>
<p>To use FileFlows, a Flow must first be created.</p>
<p>A Flow can be thought of as a processing rule that is run against files.</p>
<p>You can have as many Flows as you like, each capable of performing various tasks.</p>
<p>For example, you can configure a Flow to convert video files from one format into another, or a Flow to organize pictures into folders based on the date they were taken.</p>

<br/>

<h2>Creating a Library</h2>
<p>FileFlows needs one or more Libraries to monitor for files.</p>
<p>These can be directories or drives.</p>
<p>You can configure filters on a Library to only look for certain types of files, e.g., Videos or Images.</p>
