.flow-wrapper {
  --flow-elements-width:25rem;
  display: flex;
  flex-direction: row;
  height: 100%;
}
.flow-wrapper.hide-flow-elements {
  --flow-elements-width: 0;
}
.flow-wrapper.hide-flow-elements .flow-elements {
  display: none;
}
.flow-wrapper > ::deep .vi-container {
  flex-basis: 1;
  flex-grow: 1;
}

.flow-elements {
  width: var(--flow-elements-width);
  padding-top: 0.75rem;
  z-index: 4;
  background: var(--base-darker);
}
.flow-elements.flow-elements-on-top {
  z-index: 6;
}
.flow-elements ::deep .row {
  margin: 0 1rem;
  flex-direction: column !important;
}
.flow-elements ::deep .row .input-label {
  width: 100% !important;
}
.flow-elements ::deep .tab-button {
  margin: 0;
  padding: 0;
}
.flow-elements ::deep .tab-button i {
  margin: 0 0.5rem 0 0;
  width: 0.75rem;
}

.flow-container {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  background: rgba(var(--color-rgb), 0.01);
  position: relative;
}

@media screen and (max-width: 849.99px) {
  .elements-hidden .flow-elements {
    display: none;
  }
  .elements-visible .flow-elements {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 3.5rem;
    width: unset;
    max-width: unset;
    background: var(--base);
    z-index: 5;
    height: 100%;
  }
  .elements-visible .flow-elements .flow-elements-filter {
    margin: 0;
  }
  .elements-visible .flow-elements input {
    margin-left: 3rem;
    width: calc(100% - 4rem) !important;
  }
  .elements-visible .flow-elements .fa-search {
    right: 1.5rem !important;
  }
  .elements-visible .show-elements {
    border: none;
    top: 3.5rem;
    left: 0.25rem;
    z-index: 4;
  }
  .elements-visible .show-elements:before {
    content: "\f00d";
  }
  .show-elements {
    position: fixed;
    top: 4rem;
    left: -0.5rem;
    border: solid 1px var(--border-color);
    padding: 1rem;
    border-left: none;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    z-index: 2;
  }
}
.group {
  padding: 0.25rem 0;
  margin: 0.5rem;
  text-align: center;
}

.flow-element + .group {
  border-top: 1px solid var(--border-color);
  margin-top: 1.25rem;
}

::deep .output:hover {
  cursor: crosshair;
}
::deep .info-box {
  position: fixed;
  bottom: 10px;
  left: 250px;
  z-index: 2;
  right: calc(var(--flow-elements-width) + 5px);
  padding: 0.5rem;
  border-top: solid 2px var(--border-color);
  background: var(--base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}
::deep .info-box.show {
  display: unset;
}
::deep .info-box span + span {
  margin-left: 0.5rem;
}
::deep .info-box br {
  display: inline;
  content: " ";
}

@media screen and (max-width: 850px) {
  ::deep .info-box {
    left: 0;
    max-width: 70%;
  }
}
.flow-container.has-collapsed-menu ::deep .info-box {
  left: calc(3.5rem + 3px);
}

.ctx-mn-newtab {
  margin-left: 1rem;
  margin-right: 0;
  padding-right: 0;
  font-size: 0.8rem;
  opacity: 0.65;
}

.flows-tabs {
  display: flex;
  flex-direction: column;
  left: 0;
  position: absolute;
  right: var(--flow-elements-width);
  bottom: 0;
  height: 100vh;
  top: 0;
  overflow: hidden;
}
.flows-tabs .flows-tabs-top {
  display: flex;
  flex-direction: row;
  border-bottom: solid 1px var(--input-background);
}
.flows-tabs .flows-tabs-buttons {
  display: flex;
  flex-direction: row;
  padding: 0.75rem 1.5rem 0 1.5rem;
  flex-grow: 1;
  overflow: hidden;
}
.flows-tabs .flow-controls {
  width: fit-content;
}
.flows-tabs .flow-controls #flow-zoomer {
  width: 3rem;
  /* Transition for smooth width change on hover */
  transition: width 0.2s ease-in-out;
}
.flows-tabs .flow-controls #flow-zoomer:hover {
  width: 16rem; /* Width on hover */
}
.flows-tabs .flow-controls #flow-zoomer:hover ::deep .slider-wrapper {
  /* Show additional content on hover by adjusting content alignment */
  justify-content: flex-start; /* Align content to the left */
}
.flows-tabs .flow-controls #flow-zoomer:hover ::deep .slider-wrapper .value {
  min-width: unset;
}
.flows-tabs .flow-controls #flow-zoomer ::deep .slider-wrapper {
  padding: 0.5rem 0;
  overflow: hidden;
  transform: scale(0.85);
  position: relative;
  left: -1rem;
  white-space: nowrap;
  top: 0.5rem;
  /* Styling for the content inside the #flow-zoomer element */
  display: flex; /* Arrange content horizontally */
  justify-content: flex-end; /* Align content to the right */
}
.flows-tabs .flow-controls #flow-zoomer ::deep .slider-wrapper .value {
  padding: 0 1rem;
  min-width: 4rem;
}
.flows-tabs .flows-tab-button {
  width: 8rem;
  overflow-x: hidden;
  text-overflow: ellipsis;
  border-color: var(--input-background) !important;
  position: relative;
  bottom: -1px;
  margin-right: 0.25rem;
  display: flex;
  align-items: center;
  height: 2.1875rem;
  font-weight: normal;
  outline: none !important;
  line-height: initial;
  box-shadow: none;
  border-radius: unset !important;
  font-size: 0.8rem !important;
  text-transform: uppercase;
  border: solid 1px var(--accent);
  background-color: transparent;
  color: var(--color);
  overflow: hidden;
}
.flows-tabs .flows-tab-button:hover {
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
}
.flows-tabs .flows-tab-button:hover {
  border-color: var(--accent) !important;
}
.flows-tabs .flows-tab-button .flow-name {
  flex-grow: 1;
  user-select: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
}
.flows-tabs .flows-tab-button.new-flow {
  width: 2rem;
  min-width: 2rem;
}
.flows-tabs .flows-tab-button .actions {
  width: fit-content;
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 0.5rem;
}
.flows-tabs .flows-tab-button .actions i {
  margin: 0;
  width: 1.25rem;
}
.flows-tabs .flows-tab-button .actions button {
  border: none !important;
  background: transparent !important;
  opacity: 0.7;
  padding: 0 0.25rem 0 0;
}
.flows-tabs .flows-tab-button .actions button:hover {
  opacity: 1;
}
.flows-tabs .flows-tab-button .actions button.disabled {
  color: var(--warning);
  opacity: 0.85;
}
.flows-tabs .flows-tab-button.active {
  border-color: var(--accent) !important;
  border-bottom: 1px solid var(--base) !important;
  width: fit-content;
  min-width: 15rem;
  background: var(--input-background) !important;
}
.flows-tabs .flows-tab-button.active input[type=text] {
  height: 100%;
  font-size: 1rem;
  width: 100%;
  outline: none;
}
.flows-tabs .flows-tab-button:not(.active) {
  white-space: nowrap;
  width: fit-content;
  max-width: 20rem;
  background: transparent !important;
}
.flows-tabs .flows-tabs-contents {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
.flows-tabs .flows-tabs-contents .flows-tab {
  overflow: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.flows-tabs .flows-tabs-contents .flows-tab:not(.active) {
  display: none;
}

::deep .flow-tabs.contain-tabs {
  height: calc(100vh - 1rem);
}
::deep .flow-parts {
  display: none;
  flex-grow: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;
}
::deep .flow-parts.show {
  display: unset;
}
::deep .flow-parts canvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline: none;
}

@-moz-document url-prefix() {
  #flow-zoomer {
    display: none !important;
  }
}
