@namespace FileFlows.Client.Components.Dialogs

<Modal Title="@Title" Visible="Visible">
    <Body>
        <span class="message">@Message</span>
    </Body>
    <Footer>
        <button id="@btnOkUid" @onclick=@Close>@lblOk</button>
    </Footer>
</Modal>