button:not(.flowtable-button):not(.navbar-toggler):not(.dd-btn), a.btn, .btn-select 
{
    font-size: 0.8rem !important;
    text-transform: uppercase;
    border-radius: unset !important;
    height: var(--input-height, 2.1875rem);
    font-weight: normal;
    outline: none !important;
    line-height: initial;
    box-shadow: none;
    border-radius: unset !important;
    font-size: .8rem !important;
    text-transform: uppercase;
    border: solid 1px var(--accent);
    background-color: transparent;
    color: var(--color);
    overflow: hidden;

    &:hover:not(:disabled):not(.toast-button-btn), &:active:not(:disabled):not(.toast-button-btn) {        
        background-image: var(--btn-background-image, linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3))) !important;
        box-shadow: var(--btn-box-shadow, inset 0 -3px 0 0 var(--accent)) !important;
    }

    &:disabled {
        border-color: var(--input-background);
        color: var(--input-background)
    }
    &:focus:not(.toast-button-btn) {
        background:var(--btn-focus-background, rgba(var(--accent-rgb), 0.2)) !important;
    }
}
a.btn {
    display: inline-flex;
    place-items: center;
    color:var(--color) !important;
    text-align:center;
    min-width:6rem;
}

.btn-select {
    min-width:7rem;
    text-align:center;
    option, optgroup {
        background:var(--base);
        color:var(--color);
    }
}