.flow-part.selected {
  border-color: var(--accent) !important;
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  background-color: unset;
  box-shadow: 0 3px 10px rgba(var(--accent-rgb), 0.1);
}

.flow-element {
  padding: 0.25rem 0.25rem;
  margin: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-left: 2.25rem;
}
.flow-element .icon-wrapper {
  width: 2rem;
  min-width: 2rem;
  border-right: solid 1px;
  margin-right: 0.25rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
.flow-element .icon-wrapper .icon {
  padding-top: 3px;
  display: inline-block;
  vertical-align: middle;
}
.flow-element.Logic .icon-wrapper {
  border-color: var(--flow-logic);
}
.flow-element.Input .icon-wrapper {
  border-color: var(--flow-input);
}
.flow-element.Output .icon-wrapper {
  border-color: var(--flow-output);
}
.flow-element.SubFlow .icon-wrapper {
  border-color: var(--flow-subflow);
}
.flow-element.Process .icon-wrapper {
  border-color: var(--flow-process);
}
.flow-element.BuildPart .icon-wrapper {
  border-color: var(--flow-buildpart);
}
.flow-element.BuildStart .icon-wrapper {
  border-color: var(--flow-buildstart);
}
.flow-element.BuildEnd .icon-wrapper {
  border-color: var(--flow-buildend);
}
.flow-element.Communication .icon-wrapper {
  border-color: var(--flow-communication);
}
.flow-element.Failure .icon-wrapper {
  border-color: var(--flow-failure);
}
.flow-element.Script .icon-wrapper {
  border-color: var(--flow-script);
}
.flow-element .label {
  flex-grow: 1;
}
.flow-element.obsolete .ribbon, .flow-element.enterprise .ribbon {
  display: unset;
}
.flow-element.obsolete .ribbon-content::before, .flow-element.enterprise .ribbon-content::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
}

.flow-part {
  display: flex;
  flex-direction: row;
  outline: unset !important;
  min-height: 4rem;
  position: relative;
}
.flow-part .icon-wrapper {
  width: 2rem;
  min-width: 2rem;
  border-right: solid 1px;
  margin: 0;
  display: flex;
}
.flow-part .icon-wrapper .icon {
  margin: auto;
}
.flow-part .name {
  flex-grow: 1;
  margin: auto 0.5rem;
  padding: 0.5rem 0.5rem 0.5rem 0;
}
.flow-part .draggable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.flow-part .error {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1rem;
  display: inline-flex;
  align-items: center;
  width: 2rem;
}
.flow-part .error-output {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: var(--base);
  border: solid 1px var(--error);
}
.flow-part .error-output:hover {
  cursor: crosshair;
}
.flow-part * {
  user-select: none;
}
.flow-part.size-1, .flow-part.size-2, .flow-part.size-3 {
  width: 12rem;
}
.flow-part.size-4 {
  width: calc(12rem + 4rem);
}
.flow-part.size-5 {
  width: calc(12rem + 5rem);
}
.flow-part.size-6 {
  width: calc(12rem + 6rem);
}
.flow-part.size-7 {
  width: calc(12rem + 7rem);
}
.flow-part.size-8 {
  width: calc(12rem + 8rem);
}
.flow-part.size-9 {
  width: 23rem;
}
.flow-part.size-10 {
  width: 25rem;
}
.flow-part.Logic:not(.selected) .icon-wrapper, .flow-part.Logic:not(.selected) .input > div, .flow-part.Logic:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-logic) !important;
}
.flow-part.Logic:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-logic) !important;
}
.flow-part.Input:not(.selected) .icon-wrapper, .flow-part.Input:not(.selected) .input > div, .flow-part.Input:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-input) !important;
}
.flow-part.Input:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-input) !important;
}
.flow-part.Output:not(.selected) .icon-wrapper, .flow-part.Output:not(.selected) .input > div, .flow-part.Output:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-output) !important;
}
.flow-part.Output:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-output) !important;
}
.flow-part.SubFlow:not(.selected) .icon-wrapper, .flow-part.SubFlow:not(.selected) .input > div, .flow-part.SubFlow:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-subflow) !important;
}
.flow-part.SubFlow:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-subflow) !important;
}
.flow-part.Process:not(.selected) .icon-wrapper, .flow-part.Process:not(.selected) .input > div, .flow-part.Process:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-process) !important;
}
.flow-part.Process:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-process) !important;
}
.flow-part.BuildStart:not(.selected) .icon-wrapper, .flow-part.BuildStart:not(.selected) .input > div, .flow-part.BuildStart:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildstart) !important;
}
.flow-part.BuildStart:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-buildstart) !important;
}
.flow-part.BuildEnd:not(.selected) .icon-wrapper, .flow-part.BuildEnd:not(.selected) .input > div, .flow-part.BuildEnd:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildend) !important;
}
.flow-part.BuildEnd:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-buildend) !important;
}
.flow-part.BuildPart:not(.selected) .icon-wrapper, .flow-part.BuildPart:not(.selected) .input > div, .flow-part.BuildPart:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildpart) !important;
}
.flow-part.BuildPart:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-buildpart) !important;
}
.flow-part.Communication:not(.selected) .icon-wrapper, .flow-part.Communication:not(.selected) .input > div, .flow-part.Communication:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-communication) !important;
}
.flow-part.Communication:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-communication) !important;
}
.flow-part.Failure:not(.selected) .icon-wrapper, .flow-part.Failure:not(.selected) .input > div, .flow-part.Failure:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-failure) !important;
}
.flow-part.Failure:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-failure) !important;
}
.flow-part.Script:not(.selected) .icon-wrapper, .flow-part.Script:not(.selected) .input > div, .flow-part.Script:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-script) !important;
}
.flow-part.Script:not(.selected) .connected:not(.output--1) > div {
  background-color: var(--flow-script) !important;
}
.flow-part .connected.output--1 > div {
  background-color: var(--error) !important;
}
.flow-part.selected .icon-wrapper, .flow-part.selected .input > div, .flow-part.selected .output:not(.output--1) > div {
  border-color: var(--accent) !important;
}
.flow-part.selected .connected > div {
  background-color: var(--accent) !important;
}
.flow-part .inputs {
  position: absolute;
  top: -1rem;
  bottom: 0;
  left: 2.25rem;
  right: 0;
  width: unset;
  z-index: 2;
  z-index: 3;
  left: calc(1rem + 1px);
  display: flex;
  justify-content: center;
}
.flow-part .inputs .input, .flow-part .inputs .output {
  position: absolute;
}
.flow-part .inputs .input {
  left: unset;
}
.flow-part .outputs {
  right: -0.65rem;
  position: absolute;
  top: -1rem;
  bottom: unset;
  left: 2.25rem;
  right: 0;
  width: unset;
  z-index: 2;
}
.flow-part .outputs .input, .flow-part .outputs .output {
  position: absolute;
}
.flow-part .outputs .output {
  bottom: -2rem;
}
.flow-part .inputs .input, .flow-part .inputs .output, .flow-part .outputs .input, .flow-part .outputs .output {
  margin: auto;
}
.flow-part .inputs .input > div, .flow-part .inputs .output > div, .flow-part .outputs .input > div, .flow-part .outputs .output > div {
  width: 1rem;
  height: 1rem;
  margin: 0.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  background-color: var(--base);
  border: solid 1px;
}
.flow-part .outputs-1 .output-1 {
  left: 45px;
}
.flow-part .outputs {
  bottom: 13px !important;
}
.flow-part .output--1 {
  right: -1rem;
  left: unset !important;
  top: 50%;
}
.flow-part .output--1 > div {
  border-color: var(--error) !important;
}
.flow-part .outputs-2 .output-1 {
  left: 5px;
}
.flow-part .outputs-2 .output-2 {
  left: 95px;
}
.flow-part .outputs-3 .output-1 {
  left: 5px;
}
.flow-part .outputs-3 .output-2 {
  left: 50px;
}
.flow-part .outputs-3 .output-3 {
  left: 95px;
}
.flow-part .outputs-4 .output-1 {
  left: 5px;
}
.flow-part .outputs-4 .output-2 {
  left: 55px;
}
.flow-part .outputs-4 .output-3 {
  left: 105px;
}
.flow-part .outputs-4 .output-4 {
  left: 155px;
}
.flow-part .outputs-5 .output-1 {
  left: 5px;
}
.flow-part .outputs-5 .output-2 {
  left: 45px;
}
.flow-part .outputs-5 .output-3 {
  left: 85px;
}
.flow-part .outputs-5 .output-4 {
  left: 125px;
}
.flow-part .outputs-5 .output-5 {
  left: 165px;
}
.flow-part .outputs-6 .output-1 {
  left: 15px;
}
.flow-part .outputs-6 .output-2 {
  left: 45px;
}
.flow-part .outputs-6 .output-3 {
  left: 75px;
}
.flow-part .outputs-6 .output-4 {
  left: 105px;
}
.flow-part .outputs-6 .output-5 {
  left: 135px;
}
.flow-part .outputs-6 .output-6 {
  left: 165px;
}
.flow-part .outputs-7 .output-1 {
  left: 5px;
}
.flow-part .outputs-7 .output-2 {
  left: 35px;
}
.flow-part .outputs-7 .output-3 {
  left: 65px;
}
.flow-part .outputs-7 .output-4 {
  left: 95px;
}
.flow-part .outputs-7 .output-5 {
  left: 125px;
}
.flow-part .outputs-7 .output-6 {
  left: 155px;
}
.flow-part .outputs-7 .output-7 {
  left: 185px;
}
.flow-part .outputs-8 .output-1 {
  left: 5px;
}
.flow-part .outputs-8 .output-2 {
  left: 35px;
}
.flow-part .outputs-8 .output-3 {
  left: 65px;
}
.flow-part .outputs-8 .output-4 {
  left: 95px;
}
.flow-part .outputs-8 .output-5 {
  left: 125px;
}
.flow-part .outputs-8 .output-6 {
  left: 155px;
}
.flow-part .outputs-8 .output-7 {
  left: 185px;
}
.flow-part .outputs-8 .output-8 {
  left: 215px;
}
.flow-part .outputs-9 .output-1 {
  left: 5px;
}
.flow-part .outputs-9 .output-2 {
  left: 35px;
}
.flow-part .outputs-9 .output-3 {
  left: 65px;
}
.flow-part .outputs-9 .output-4 {
  left: 95px;
}
.flow-part .outputs-9 .output-5 {
  left: 125px;
}
.flow-part .outputs-9 .output-6 {
  left: 155px;
}
.flow-part .outputs-9 .output-7 {
  left: 185px;
}
.flow-part .outputs-9 .output-8 {
  left: 215px;
}
.flow-part .outputs-9 .output-9 {
  left: 245px;
}
.flow-part .outputs-10 .output-1 {
  left: 5px;
}
.flow-part .outputs-10 .output-2 {
  left: 35px;
}
.flow-part .outputs-10 .output-3 {
  left: 65px;
}
.flow-part .outputs-10 .output-4 {
  left: 95px;
}
.flow-part .outputs-10 .output-5 {
  left: 125px;
}
.flow-part .outputs-10 .output-6 {
  left: 155px;
}
.flow-part .outputs-10 .output-7 {
  left: 185px;
}
.flow-part .outputs-10 .output-8 {
  left: 215px;
}
.flow-part .outputs-10 .output-9 {
  left: 245px;
}
.flow-part .outputs-10 .output-10 {
  left: 275px;
}

.flow-part, .flow-element {
  text-align: center;
  border-radius: 0 0 0.5rem 0.5rem;
  min-width: 12rem;
  border: solid 1px transparent;
  background: var(--base);
}
.flow-part.Logic, .flow-element.Logic {
  border-color: var(--flow-logic);
}
.flow-part.Input, .flow-element.Input {
  border-color: var(--flow-input);
}
.flow-part.Output, .flow-element.Output {
  border-color: var(--flow-output);
}
.flow-part.SubFlow, .flow-element.SubFlow {
  border-color: var(--flow-subflow);
}
.flow-part.Process, .flow-element.Process {
  border-color: var(--flow-process);
}
.flow-part.BuildPart, .flow-element.BuildPart {
  border-color: var(--flow-buildpart);
}
.flow-part.BuildStart, .flow-element.BuildStart {
  border-color: var(--flow-buildstart);
}
.flow-part.BuildEnd, .flow-element.BuildEnd {
  border-color: var(--flow-buildend);
}
.flow-part.Communication, .flow-element.Communication {
  border-color: var(--flow-communication);
}
.flow-part.Failure, .flow-element.Failure {
  border-color: var(--flow-failure);
}
.flow-part.Script, .flow-element.Script {
  border-color: var(--flow-script);
}

.ribbon {
  position: absolute;
  right: 8px;
  top: -3px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
  display: none;
}
.ribbon > .ribbon-content {
  color: white;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 400;
  background: #a90101 linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 4px), 0 100%);
  width: 20px;
  min-height: 20px;
  transition: clip-path 1s, padding 1s, background 1s;
}

.enterprise:not(.obsolete) .ribbon > .ribbon-content {
  background: #12a901 linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.enterprise:not(.obsolete) .ribbon > .ribbon-content::before {
  content: "\f19c";
}

/*# sourceMappingURL=flow.css.map */
