.flow-part, .flow-element {
  --border-radius: 0;
  --border-width: 1px;
  border: solid var(--border-width);
  text-align: center;
  background: var(--base);
}
.flow-part.Logic, .flow-element.Logic {
  border-color: var(--flow-logic);
}
.flow-part.Logic .icon-wrapper:before, .flow-element.Logic .icon-wrapper:before {
  background: var(--flow-logic);
}
.flow-part.Input, .flow-element.Input {
  border-color: var(--flow-input);
}
.flow-part.Input .icon-wrapper:before, .flow-element.Input .icon-wrapper:before {
  background: var(--flow-input);
}
.flow-part.Output, .flow-element.Output {
  border-color: var(--flow-output);
}
.flow-part.Output .icon-wrapper:before, .flow-element.Output .icon-wrapper:before {
  background: var(--flow-output);
}
.flow-part.SubFlow, .flow-element.SubFlow {
  border-color: var(--flow-subflow);
}
.flow-part.SubFlow .icon-wrapper:before, .flow-element.SubFlow .icon-wrapper:before {
  background: var(--flow-subflow);
}
.flow-part.Process, .flow-element.Process {
  border-color: var(--flow-process);
}
.flow-part.Process .icon-wrapper:before, .flow-element.Process .icon-wrapper:before {
  background: var(--flow-process);
}
.flow-part.BuildPart, .flow-element.BuildPart {
  border-color: var(--flow-buildpart);
}
.flow-part.BuildPart .icon-wrapper:before, .flow-element.BuildPart .icon-wrapper:before {
  background: var(--flow-buildpart);
}
.flow-part.BuildStart, .flow-element.BuildStart {
  border-color: var(--flow-buildstart);
}
.flow-part.BuildStart .icon-wrapper:before, .flow-element.BuildStart .icon-wrapper:before {
  background: var(--flow-buildstart);
}
.flow-part.BuildEnd, .flow-element.BuildEnd {
  border-color: var(--flow-buildend);
}
.flow-part.BuildEnd .icon-wrapper:before, .flow-element.BuildEnd .icon-wrapper:before {
  background: var(--flow-buildend);
}
.flow-part.Communication, .flow-element.Communication {
  border-color: var(--flow-communication);
}
.flow-part.Communication .icon-wrapper:before, .flow-element.Communication .icon-wrapper:before {
  background: var(--flow-communication);
}
.flow-part.Failure, .flow-element.Failure {
  border-color: var(--flow-failure);
}
.flow-part.Failure .icon-wrapper:before, .flow-element.Failure .icon-wrapper:before {
  background: var(--flow-failure);
}
.flow-part.Script, .flow-element.Script {
  border-color: var(--flow-script);
}
.flow-part.Script .icon-wrapper:before, .flow-element.Script .icon-wrapper:before {
  background: var(--flow-script);
}
.flow-part.selected .icon-wrapper:before, .flow-element.selected .icon-wrapper:before {
  background: unset !important;
}
.flow-part .icon-wrapper, .flow-element .icon-wrapper {
  border-right: solid var(--border-width);
  width: 30px;
  min-width: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flow-part .icon-wrapper:before, .flow-element .icon-wrapper:before {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  opacity: 0.25;
}
.flow-part .icon-wrapper .icon, .flow-element .icon-wrapper .icon {
  z-index: 2;
  padding-top: 3px;
  display: inline-block;
  vertical-align: middle;
}

.flow-element {
  padding: 0.25rem 0.25rem;
  margin: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  padding-left: 2.25rem;
}
.flow-element.Logic .icon-wrapper {
  border-color: var(--flow-logic);
}
.flow-element.Input .icon-wrapper {
  border-color: var(--flow-input);
}
.flow-element.Output .icon-wrapper {
  border-color: var(--flow-output);
}
.flow-element.SubFlow .icon-wrapper {
  border-color: var(--flow-subflow);
}
.flow-element.Process .icon-wrapper {
  border-color: var(--flow-process);
}
.flow-element.BuildPart .icon-wrapper {
  border-color: var(--flow-buildpart);
}
.flow-element.BuildStart .icon-wrapper {
  border-color: var(--flow-buildstart);
}
.flow-element.BuildEnd .icon-wrapper {
  border-color: var(--flow-buildend);
}
.flow-element.Communication .icon-wrapper {
  border-color: var(--flow-communication);
}
.flow-element.Failure .icon-wrapper {
  border-color: var(--flow-failure);
}
.flow-element.Script .icon-wrapper {
  border-color: var(--flow-script);
}
.flow-element .label {
  flex-grow: 1;
}
.flow-element.obsolete .ribbon, .flow-element.enterprise .ribbon {
  display: unset;
}
.flow-element.obsolete .ribbon-content::before, .flow-element.enterprise .ribbon-content::before {
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00d";
}

.flow-part.size-1.height-1 {
  height: 60px;
  width: 170px;
}
.flow-part.size-1.height-1 .output {
  bottom: -5px;
}
.flow-part.size-1.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-1.height-1 .output-1 {
  left: 85px;
  color: red;
}
.flow-part.size-1.height-1 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-1.height-2 {
  height: 60px;
  width: 170px;
}
.flow-part.size-1.height-2 .output {
  bottom: -5px;
}
.flow-part.size-1.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-1.height-2 .output-1 {
  left: 85px;
  color: red;
}
.flow-part.size-1.height-2 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-1.height-3 {
  height: 80px;
  width: 170px;
}
.flow-part.size-1.height-3 .output {
  bottom: -5px;
}
.flow-part.size-1.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-1.height-3 .output-1 {
  left: 85px;
  color: red;
}
.flow-part.size-1.height-3 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-1.height-4 {
  height: 100px;
  width: 170px;
}
.flow-part.size-1.height-4 .output {
  bottom: -5px;
}
.flow-part.size-1.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-1.height-4 .output-1 {
  left: 85px;
  color: red;
}
.flow-part.size-1.height-4 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-2.height-1 {
  height: 60px;
  width: 170px;
}
.flow-part.size-2.height-1 .output {
  bottom: -5px;
}
.flow-part.size-2.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-2.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-2.height-1 .output-2 {
  left: 125px;
}
.flow-part.size-2.height-1 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-2.height-2 {
  height: 60px;
  width: 170px;
}
.flow-part.size-2.height-2 .output {
  bottom: -5px;
}
.flow-part.size-2.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-2.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-2.height-2 .output-2 {
  left: 125px;
}
.flow-part.size-2.height-2 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-2.height-3 {
  height: 80px;
  width: 170px;
}
.flow-part.size-2.height-3 .output {
  bottom: -5px;
}
.flow-part.size-2.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-2.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-2.height-3 .output-2 {
  left: 125px;
}
.flow-part.size-2.height-3 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-2.height-4 {
  height: 100px;
  width: 170px;
}
.flow-part.size-2.height-4 .output {
  bottom: -5px;
}
.flow-part.size-2.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-2.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-2.height-4 .output-2 {
  left: 125px;
}
.flow-part.size-2.height-4 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-3.height-1 {
  height: 60px;
  width: 170px;
}
.flow-part.size-3.height-1 .output {
  bottom: -5px;
}
.flow-part.size-3.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-3.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-3.height-1 .output-2 {
  left: 85px;
}
.flow-part.size-3.height-1 .output-3 {
  left: 125px;
}
.flow-part.size-3.height-1 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-3.height-2 {
  height: 60px;
  width: 170px;
}
.flow-part.size-3.height-2 .output {
  bottom: -5px;
}
.flow-part.size-3.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-3.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-3.height-2 .output-2 {
  left: 85px;
}
.flow-part.size-3.height-2 .output-3 {
  left: 125px;
}
.flow-part.size-3.height-2 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-3.height-3 {
  height: 80px;
  width: 170px;
}
.flow-part.size-3.height-3 .output {
  bottom: -5px;
}
.flow-part.size-3.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-3.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-3.height-3 .output-2 {
  left: 85px;
}
.flow-part.size-3.height-3 .output-3 {
  left: 125px;
}
.flow-part.size-3.height-3 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-3.height-4 {
  height: 100px;
  width: 170px;
}
.flow-part.size-3.height-4 .output {
  bottom: -5px;
}
.flow-part.size-3.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-3.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-3.height-4 .output-2 {
  left: 85px;
}
.flow-part.size-3.height-4 .output-3 {
  left: 125px;
}
.flow-part.size-3.height-4 .input {
  left: 85px;
  top: -5px;
}

.flow-part.size-4.height-1 {
  height: 60px;
  width: 180px;
}
.flow-part.size-4.height-1 .output {
  bottom: -5px;
}
.flow-part.size-4.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-4.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-4.height-1 .output-2 {
  left: 75px;
}
.flow-part.size-4.height-1 .output-3 {
  left: 105px;
}
.flow-part.size-4.height-1 .output-4 {
  left: 135px;
}
.flow-part.size-4.height-1 .input {
  left: 90px;
  top: -5px;
}

.flow-part.size-4.height-2 {
  height: 60px;
  width: 180px;
}
.flow-part.size-4.height-2 .output {
  bottom: -5px;
}
.flow-part.size-4.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-4.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-4.height-2 .output-2 {
  left: 75px;
}
.flow-part.size-4.height-2 .output-3 {
  left: 105px;
}
.flow-part.size-4.height-2 .output-4 {
  left: 135px;
}
.flow-part.size-4.height-2 .input {
  left: 90px;
  top: -5px;
}

.flow-part.size-4.height-3 {
  height: 80px;
  width: 180px;
}
.flow-part.size-4.height-3 .output {
  bottom: -5px;
}
.flow-part.size-4.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-4.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-4.height-3 .output-2 {
  left: 75px;
}
.flow-part.size-4.height-3 .output-3 {
  left: 105px;
}
.flow-part.size-4.height-3 .output-4 {
  left: 135px;
}
.flow-part.size-4.height-3 .input {
  left: 90px;
  top: -5px;
}

.flow-part.size-4.height-4 {
  height: 100px;
  width: 180px;
}
.flow-part.size-4.height-4 .output {
  bottom: -5px;
}
.flow-part.size-4.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-4.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-4.height-4 .output-2 {
  left: 75px;
}
.flow-part.size-4.height-4 .output-3 {
  left: 105px;
}
.flow-part.size-4.height-4 .output-4 {
  left: 135px;
}
.flow-part.size-4.height-4 .input {
  left: 90px;
  top: -5px;
}

.flow-part.size-5.height-1 {
  height: 60px;
  width: 210px;
}
.flow-part.size-5.height-1 .output {
  bottom: -5px;
}
.flow-part.size-5.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-5.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-5.height-1 .output-2 {
  left: 75px;
}
.flow-part.size-5.height-1 .output-3 {
  left: 105px;
}
.flow-part.size-5.height-1 .output-4 {
  left: 135px;
}
.flow-part.size-5.height-1 .output-5 {
  left: 165px;
}
.flow-part.size-5.height-1 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-5.height-2 {
  height: 60px;
  width: 210px;
}
.flow-part.size-5.height-2 .output {
  bottom: -5px;
}
.flow-part.size-5.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-5.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-5.height-2 .output-2 {
  left: 75px;
}
.flow-part.size-5.height-2 .output-3 {
  left: 105px;
}
.flow-part.size-5.height-2 .output-4 {
  left: 135px;
}
.flow-part.size-5.height-2 .output-5 {
  left: 165px;
}
.flow-part.size-5.height-2 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-5.height-3 {
  height: 80px;
  width: 210px;
}
.flow-part.size-5.height-3 .output {
  bottom: -5px;
}
.flow-part.size-5.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-5.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-5.height-3 .output-2 {
  left: 75px;
}
.flow-part.size-5.height-3 .output-3 {
  left: 105px;
}
.flow-part.size-5.height-3 .output-4 {
  left: 135px;
}
.flow-part.size-5.height-3 .output-5 {
  left: 165px;
}
.flow-part.size-5.height-3 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-5.height-4 {
  height: 100px;
  width: 210px;
}
.flow-part.size-5.height-4 .output {
  bottom: -5px;
}
.flow-part.size-5.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-5.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-5.height-4 .output-2 {
  left: 75px;
}
.flow-part.size-5.height-4 .output-3 {
  left: 105px;
}
.flow-part.size-5.height-4 .output-4 {
  left: 135px;
}
.flow-part.size-5.height-4 .output-5 {
  left: 165px;
}
.flow-part.size-5.height-4 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-6.height-1 {
  height: 60px;
  width: 190px;
}
.flow-part.size-6.height-1 .output {
  bottom: -5px;
}
.flow-part.size-6.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-6.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-6.height-1 .output-2 {
  left: 65px;
}
.flow-part.size-6.height-1 .output-3 {
  left: 85px;
}
.flow-part.size-6.height-1 .output-4 {
  left: 105px;
}
.flow-part.size-6.height-1 .output-5 {
  left: 125px;
}
.flow-part.size-6.height-1 .output-6 {
  left: 145px;
}
.flow-part.size-6.height-1 .input {
  left: 95px;
  top: -5px;
}

.flow-part.size-6.height-2 {
  height: 60px;
  width: 190px;
}
.flow-part.size-6.height-2 .output {
  bottom: -5px;
}
.flow-part.size-6.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-6.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-6.height-2 .output-2 {
  left: 65px;
}
.flow-part.size-6.height-2 .output-3 {
  left: 85px;
}
.flow-part.size-6.height-2 .output-4 {
  left: 105px;
}
.flow-part.size-6.height-2 .output-5 {
  left: 125px;
}
.flow-part.size-6.height-2 .output-6 {
  left: 145px;
}
.flow-part.size-6.height-2 .input {
  left: 95px;
  top: -5px;
}

.flow-part.size-6.height-3 {
  height: 80px;
  width: 190px;
}
.flow-part.size-6.height-3 .output {
  bottom: -5px;
}
.flow-part.size-6.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-6.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-6.height-3 .output-2 {
  left: 65px;
}
.flow-part.size-6.height-3 .output-3 {
  left: 85px;
}
.flow-part.size-6.height-3 .output-4 {
  left: 105px;
}
.flow-part.size-6.height-3 .output-5 {
  left: 125px;
}
.flow-part.size-6.height-3 .output-6 {
  left: 145px;
}
.flow-part.size-6.height-3 .input {
  left: 95px;
  top: -5px;
}

.flow-part.size-6.height-4 {
  height: 100px;
  width: 190px;
}
.flow-part.size-6.height-4 .output {
  bottom: -5px;
}
.flow-part.size-6.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-6.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-6.height-4 .output-2 {
  left: 65px;
}
.flow-part.size-6.height-4 .output-3 {
  left: 85px;
}
.flow-part.size-6.height-4 .output-4 {
  left: 105px;
}
.flow-part.size-6.height-4 .output-5 {
  left: 125px;
}
.flow-part.size-6.height-4 .output-6 {
  left: 145px;
}
.flow-part.size-6.height-4 .input {
  left: 95px;
  top: -5px;
}

.flow-part.size-7.height-1 {
  height: 60px;
  width: 210px;
}
.flow-part.size-7.height-1 .output {
  bottom: -5px;
}
.flow-part.size-7.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-7.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-7.height-1 .output-2 {
  left: 65px;
}
.flow-part.size-7.height-1 .output-3 {
  left: 85px;
}
.flow-part.size-7.height-1 .output-4 {
  left: 105px;
}
.flow-part.size-7.height-1 .output-5 {
  left: 125px;
}
.flow-part.size-7.height-1 .output-6 {
  left: 145px;
}
.flow-part.size-7.height-1 .output-7 {
  left: 165px;
}
.flow-part.size-7.height-1 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-7.height-2 {
  height: 60px;
  width: 210px;
}
.flow-part.size-7.height-2 .output {
  bottom: -5px;
}
.flow-part.size-7.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-7.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-7.height-2 .output-2 {
  left: 65px;
}
.flow-part.size-7.height-2 .output-3 {
  left: 85px;
}
.flow-part.size-7.height-2 .output-4 {
  left: 105px;
}
.flow-part.size-7.height-2 .output-5 {
  left: 125px;
}
.flow-part.size-7.height-2 .output-6 {
  left: 145px;
}
.flow-part.size-7.height-2 .output-7 {
  left: 165px;
}
.flow-part.size-7.height-2 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-7.height-3 {
  height: 80px;
  width: 210px;
}
.flow-part.size-7.height-3 .output {
  bottom: -5px;
}
.flow-part.size-7.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-7.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-7.height-3 .output-2 {
  left: 65px;
}
.flow-part.size-7.height-3 .output-3 {
  left: 85px;
}
.flow-part.size-7.height-3 .output-4 {
  left: 105px;
}
.flow-part.size-7.height-3 .output-5 {
  left: 125px;
}
.flow-part.size-7.height-3 .output-6 {
  left: 145px;
}
.flow-part.size-7.height-3 .output-7 {
  left: 165px;
}
.flow-part.size-7.height-3 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-7.height-4 {
  height: 100px;
  width: 210px;
}
.flow-part.size-7.height-4 .output {
  bottom: -5px;
}
.flow-part.size-7.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-7.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-7.height-4 .output-2 {
  left: 65px;
}
.flow-part.size-7.height-4 .output-3 {
  left: 85px;
}
.flow-part.size-7.height-4 .output-4 {
  left: 105px;
}
.flow-part.size-7.height-4 .output-5 {
  left: 125px;
}
.flow-part.size-7.height-4 .output-6 {
  left: 145px;
}
.flow-part.size-7.height-4 .output-7 {
  left: 165px;
}
.flow-part.size-7.height-4 .input {
  left: 105px;
  top: -5px;
}

.flow-part.size-8.height-1 {
  height: 60px;
  width: 230px;
}
.flow-part.size-8.height-1 .output {
  bottom: -5px;
}
.flow-part.size-8.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-8.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-8.height-1 .output-2 {
  left: 65px;
}
.flow-part.size-8.height-1 .output-3 {
  left: 85px;
}
.flow-part.size-8.height-1 .output-4 {
  left: 105px;
}
.flow-part.size-8.height-1 .output-5 {
  left: 125px;
}
.flow-part.size-8.height-1 .output-6 {
  left: 145px;
}
.flow-part.size-8.height-1 .output-7 {
  left: 165px;
}
.flow-part.size-8.height-1 .output-8 {
  left: 185px;
}
.flow-part.size-8.height-1 .input {
  left: 115px;
  top: -5px;
}

.flow-part.size-8.height-2 {
  height: 60px;
  width: 230px;
}
.flow-part.size-8.height-2 .output {
  bottom: -5px;
}
.flow-part.size-8.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-8.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-8.height-2 .output-2 {
  left: 65px;
}
.flow-part.size-8.height-2 .output-3 {
  left: 85px;
}
.flow-part.size-8.height-2 .output-4 {
  left: 105px;
}
.flow-part.size-8.height-2 .output-5 {
  left: 125px;
}
.flow-part.size-8.height-2 .output-6 {
  left: 145px;
}
.flow-part.size-8.height-2 .output-7 {
  left: 165px;
}
.flow-part.size-8.height-2 .output-8 {
  left: 185px;
}
.flow-part.size-8.height-2 .input {
  left: 115px;
  top: -5px;
}

.flow-part.size-8.height-3 {
  height: 80px;
  width: 230px;
}
.flow-part.size-8.height-3 .output {
  bottom: -5px;
}
.flow-part.size-8.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-8.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-8.height-3 .output-2 {
  left: 65px;
}
.flow-part.size-8.height-3 .output-3 {
  left: 85px;
}
.flow-part.size-8.height-3 .output-4 {
  left: 105px;
}
.flow-part.size-8.height-3 .output-5 {
  left: 125px;
}
.flow-part.size-8.height-3 .output-6 {
  left: 145px;
}
.flow-part.size-8.height-3 .output-7 {
  left: 165px;
}
.flow-part.size-8.height-3 .output-8 {
  left: 185px;
}
.flow-part.size-8.height-3 .input {
  left: 115px;
  top: -5px;
}

.flow-part.size-8.height-4 {
  height: 100px;
  width: 230px;
}
.flow-part.size-8.height-4 .output {
  bottom: -5px;
}
.flow-part.size-8.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-8.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-8.height-4 .output-2 {
  left: 65px;
}
.flow-part.size-8.height-4 .output-3 {
  left: 85px;
}
.flow-part.size-8.height-4 .output-4 {
  left: 105px;
}
.flow-part.size-8.height-4 .output-5 {
  left: 125px;
}
.flow-part.size-8.height-4 .output-6 {
  left: 145px;
}
.flow-part.size-8.height-4 .output-7 {
  left: 165px;
}
.flow-part.size-8.height-4 .output-8 {
  left: 185px;
}
.flow-part.size-8.height-4 .input {
  left: 115px;
  top: -5px;
}

.flow-part.size-9.height-1 {
  height: 60px;
  width: 250px;
}
.flow-part.size-9.height-1 .output {
  bottom: -5px;
}
.flow-part.size-9.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-9.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-9.height-1 .output-2 {
  left: 65px;
}
.flow-part.size-9.height-1 .output-3 {
  left: 85px;
}
.flow-part.size-9.height-1 .output-4 {
  left: 105px;
}
.flow-part.size-9.height-1 .output-5 {
  left: 125px;
}
.flow-part.size-9.height-1 .output-6 {
  left: 145px;
}
.flow-part.size-9.height-1 .output-7 {
  left: 165px;
}
.flow-part.size-9.height-1 .output-8 {
  left: 185px;
}
.flow-part.size-9.height-1 .output-9 {
  left: 205px;
}
.flow-part.size-9.height-1 .input {
  left: 125px;
  top: -5px;
}

.flow-part.size-9.height-2 {
  height: 60px;
  width: 250px;
}
.flow-part.size-9.height-2 .output {
  bottom: -5px;
}
.flow-part.size-9.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-9.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-9.height-2 .output-2 {
  left: 65px;
}
.flow-part.size-9.height-2 .output-3 {
  left: 85px;
}
.flow-part.size-9.height-2 .output-4 {
  left: 105px;
}
.flow-part.size-9.height-2 .output-5 {
  left: 125px;
}
.flow-part.size-9.height-2 .output-6 {
  left: 145px;
}
.flow-part.size-9.height-2 .output-7 {
  left: 165px;
}
.flow-part.size-9.height-2 .output-8 {
  left: 185px;
}
.flow-part.size-9.height-2 .output-9 {
  left: 205px;
}
.flow-part.size-9.height-2 .input {
  left: 125px;
  top: -5px;
}

.flow-part.size-9.height-3 {
  height: 80px;
  width: 250px;
}
.flow-part.size-9.height-3 .output {
  bottom: -5px;
}
.flow-part.size-9.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-9.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-9.height-3 .output-2 {
  left: 65px;
}
.flow-part.size-9.height-3 .output-3 {
  left: 85px;
}
.flow-part.size-9.height-3 .output-4 {
  left: 105px;
}
.flow-part.size-9.height-3 .output-5 {
  left: 125px;
}
.flow-part.size-9.height-3 .output-6 {
  left: 145px;
}
.flow-part.size-9.height-3 .output-7 {
  left: 165px;
}
.flow-part.size-9.height-3 .output-8 {
  left: 185px;
}
.flow-part.size-9.height-3 .output-9 {
  left: 205px;
}
.flow-part.size-9.height-3 .input {
  left: 125px;
  top: -5px;
}

.flow-part.size-9.height-4 {
  height: 100px;
  width: 250px;
}
.flow-part.size-9.height-4 .output {
  bottom: -5px;
}
.flow-part.size-9.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-9.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-9.height-4 .output-2 {
  left: 65px;
}
.flow-part.size-9.height-4 .output-3 {
  left: 85px;
}
.flow-part.size-9.height-4 .output-4 {
  left: 105px;
}
.flow-part.size-9.height-4 .output-5 {
  left: 125px;
}
.flow-part.size-9.height-4 .output-6 {
  left: 145px;
}
.flow-part.size-9.height-4 .output-7 {
  left: 165px;
}
.flow-part.size-9.height-4 .output-8 {
  left: 185px;
}
.flow-part.size-9.height-4 .output-9 {
  left: 205px;
}
.flow-part.size-9.height-4 .input {
  left: 125px;
  top: -5px;
}

.flow-part.size-10.height-1 {
  height: 60px;
  width: 270px;
}
.flow-part.size-10.height-1 .output {
  bottom: -5px;
}
.flow-part.size-10.height-1 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-10.height-1 .output-1 {
  left: 45px;
}
.flow-part.size-10.height-1 .output-2 {
  left: 65px;
}
.flow-part.size-10.height-1 .output-3 {
  left: 85px;
}
.flow-part.size-10.height-1 .output-4 {
  left: 105px;
}
.flow-part.size-10.height-1 .output-5 {
  left: 125px;
}
.flow-part.size-10.height-1 .output-6 {
  left: 145px;
}
.flow-part.size-10.height-1 .output-7 {
  left: 165px;
}
.flow-part.size-10.height-1 .output-8 {
  left: 185px;
}
.flow-part.size-10.height-1 .output-9 {
  left: 205px;
}
.flow-part.size-10.height-1 .output-10 {
  left: 225px;
}
.flow-part.size-10.height-1 .input {
  left: 135px;
  top: -5px;
}

.flow-part.size-10.height-2 {
  height: 60px;
  width: 270px;
}
.flow-part.size-10.height-2 .output {
  bottom: -5px;
}
.flow-part.size-10.height-2 .output--1 {
  right: -5px;
  top: 25px;
  bottom: unset;
}
.flow-part.size-10.height-2 .output-1 {
  left: 45px;
}
.flow-part.size-10.height-2 .output-2 {
  left: 65px;
}
.flow-part.size-10.height-2 .output-3 {
  left: 85px;
}
.flow-part.size-10.height-2 .output-4 {
  left: 105px;
}
.flow-part.size-10.height-2 .output-5 {
  left: 125px;
}
.flow-part.size-10.height-2 .output-6 {
  left: 145px;
}
.flow-part.size-10.height-2 .output-7 {
  left: 165px;
}
.flow-part.size-10.height-2 .output-8 {
  left: 185px;
}
.flow-part.size-10.height-2 .output-9 {
  left: 205px;
}
.flow-part.size-10.height-2 .output-10 {
  left: 225px;
}
.flow-part.size-10.height-2 .input {
  left: 135px;
  top: -5px;
}

.flow-part.size-10.height-3 {
  height: 80px;
  width: 270px;
}
.flow-part.size-10.height-3 .output {
  bottom: -5px;
}
.flow-part.size-10.height-3 .output--1 {
  right: -5px;
  top: 35px;
  bottom: unset;
}
.flow-part.size-10.height-3 .output-1 {
  left: 45px;
}
.flow-part.size-10.height-3 .output-2 {
  left: 65px;
}
.flow-part.size-10.height-3 .output-3 {
  left: 85px;
}
.flow-part.size-10.height-3 .output-4 {
  left: 105px;
}
.flow-part.size-10.height-3 .output-5 {
  left: 125px;
}
.flow-part.size-10.height-3 .output-6 {
  left: 145px;
}
.flow-part.size-10.height-3 .output-7 {
  left: 165px;
}
.flow-part.size-10.height-3 .output-8 {
  left: 185px;
}
.flow-part.size-10.height-3 .output-9 {
  left: 205px;
}
.flow-part.size-10.height-3 .output-10 {
  left: 225px;
}
.flow-part.size-10.height-3 .input {
  left: 135px;
  top: -5px;
}

.flow-part.size-10.height-4 {
  height: 100px;
  width: 270px;
}
.flow-part.size-10.height-4 .output {
  bottom: -5px;
}
.flow-part.size-10.height-4 .output--1 {
  right: -5px;
  top: 45px;
  bottom: unset;
}
.flow-part.size-10.height-4 .output-1 {
  left: 45px;
}
.flow-part.size-10.height-4 .output-2 {
  left: 65px;
}
.flow-part.size-10.height-4 .output-3 {
  left: 85px;
}
.flow-part.size-10.height-4 .output-4 {
  left: 105px;
}
.flow-part.size-10.height-4 .output-5 {
  left: 125px;
}
.flow-part.size-10.height-4 .output-6 {
  left: 145px;
}
.flow-part.size-10.height-4 .output-7 {
  left: 165px;
}
.flow-part.size-10.height-4 .output-8 {
  left: 185px;
}
.flow-part.size-10.height-4 .output-9 {
  left: 205px;
}
.flow-part.size-10.height-4 .output-10 {
  left: 225px;
}
.flow-part.size-10.height-4 .input {
  left: 135px;
  top: -5px;
}

.flow-part {
  display: flex;
  flex-direction: row;
  outline: unset !important;
  position: relative;
}
.flow-part.selected {
  border-color: var(--accent) !important;
  background-image: linear-gradient(rgba(var(--accent-rgb), 0.3), rgba(var(--accent-rgb), 0.3)) !important;
  background-color: unset;
  box-shadow: 0 3px 10px rgba(var(--accent-rgb), 0.1);
}
.flow-part .name {
  flex-grow: 1;
  padding: 5px;
  margin-left: 30px;
  align-self: center;
  overflow: hidden;
  line-height: 16.8px;
}
.flow-part .draggable {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}
.flow-part * {
  user-select: none;
}
.flow-part.Logic:not(.selected) .icon-wrapper, .flow-part.Logic:not(.selected) .input > div, .flow-part.Logic:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-logic) !important;
}
.flow-part.Logic:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-logic);
}
.flow-part.Input:not(.selected) .icon-wrapper, .flow-part.Input:not(.selected) .input > div, .flow-part.Input:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-input) !important;
}
.flow-part.Input:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-input);
}
.flow-part.Output:not(.selected) .icon-wrapper, .flow-part.Output:not(.selected) .input > div, .flow-part.Output:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-output) !important;
}
.flow-part.Output:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-output);
}
.flow-part.SubFlow:not(.selected) .icon-wrapper, .flow-part.SubFlow:not(.selected) .input > div, .flow-part.SubFlow:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-subflow) !important;
}
.flow-part.SubFlow:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-subflow);
}
.flow-part.Process:not(.selected) .icon-wrapper, .flow-part.Process:not(.selected) .input > div, .flow-part.Process:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-process) !important;
}
.flow-part.Process:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-process);
}
.flow-part.BuildStart:not(.selected) .icon-wrapper, .flow-part.BuildStart:not(.selected) .input > div, .flow-part.BuildStart:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildstart) !important;
}
.flow-part.BuildStart:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-buildstart);
}
.flow-part.BuildEnd:not(.selected) .icon-wrapper, .flow-part.BuildEnd:not(.selected) .input > div, .flow-part.BuildEnd:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildend) !important;
}
.flow-part.BuildEnd:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-buildend);
}
.flow-part.BuildPart:not(.selected) .icon-wrapper, .flow-part.BuildPart:not(.selected) .input > div, .flow-part.BuildPart:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-buildpart) !important;
}
.flow-part.BuildPart:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-buildpart);
}
.flow-part.Communication:not(.selected) .icon-wrapper, .flow-part.Communication:not(.selected) .input > div, .flow-part.Communication:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-communication) !important;
}
.flow-part.Communication:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-communication);
}
.flow-part.Failure:not(.selected) .icon-wrapper, .flow-part.Failure:not(.selected) .input > div, .flow-part.Failure:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-failure) !important;
}
.flow-part.Failure:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-failure);
}
.flow-part.Script:not(.selected) .icon-wrapper, .flow-part.Script:not(.selected) .input > div, .flow-part.Script:not(.selected) .output:not(.output--1) > div {
  border-color: var(--flow-script) !important;
}
.flow-part.Script:not(.selected) .connected:not(.output--1) > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--flow-script);
}
.flow-part .input, .flow-part .output {
  position: absolute;
}
.flow-part .connected.output--1 > div:before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  background: var(--error);
}
.flow-part.selected .icon-wrapper, .flow-part.selected .input > div, .flow-part.selected .output:not(.output--1) > div {
  border-color: var(--accent) !important;
}
.flow-part.selected .connected > div {
  background-color: var(--accent) !important;
}
.flow-part .input > div, .flow-part .output > div {
  width: 10px;
  height: 10px;
  border-radius: var(--border-radius);
  background-color: var(--base);
  border: solid var(--border-width);
}
.flow-part .output--1 > div {
  border-color: var(--error) !important;
}

.ribbon {
  position: absolute;
  right: 8px;
  top: -3px;
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.5));
  display: none;
}
.ribbon > .ribbon-content {
  color: white;
  font-size: 0.75rem;
  text-align: center;
  font-weight: 400;
  background: #a90101 linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
  padding: 8px 2px 4px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 4px), 0 100%);
  width: 20px;
  min-height: 20px;
  transition: clip-path 1s, padding 1s, background 1s;
}

.enterprise:not(.obsolete) .ribbon > .ribbon-content {
  background: #12a901 linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.25) 100%);
}
.enterprise:not(.obsolete) .ribbon > .ribbon-content::before {
  content: "\f19c";
}

/*# sourceMappingURL=flow.css.map */
