.flow-modal-background-overlay{
    z-index:10 !important;
}

.flow-modal {
    z-index: 11;
}
@media screen and (min-width: 578.0001px) {
    .flow-modal {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: min(28rem, 80vw);
        max-width: min(40rem, 80vw); 
        background: var(--base);
        border: solid 1px var(--border-color);
    }
    .flow-modal-footer {
        text-align: right;

        button {
            width: 6rem;
            padding: 0;
        }
    }
}

@media screen and (max-width:578px) {
    .flow-modal {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--base);
    }
    .flow-modal-inner {
        height:100%;
        display:flex;
        flex-direction:column;
    }
    .flow-modal-body {
        flex-grow:1;
        position:relative;
    }

    .flow-modal-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            flex-grow: 1;
            flex-basis: 0;
            margin: auto;

            + button {
                margin-left: 1rem;
            }
        }
    }
}

.flow-modal-title {
    background: var(--input-background);
    font-weight: var(--bold, 600);
    padding: 0.5rem 1rem;
}

.flow-modal-body {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
}
.flow-modal-footer {
    padding: 0.5rem 1rem;
}

