html.photino-ignore {
  --font-size:12px;
  --flow-part-line-height: 14px;
  --nav-menu-offset:40px;
}
body.photino
{
  --bold:500;
  --nav-menu-bold:500;

  select {
    -webkit-appearance: none;
    padding:0 0.25rem;
  }
  
  #blazor-error-ui,
  .blazor-error-ui-wrapper {
    display: none !important;
  }
  .flow-part .name {
    line-height:12px;
  }


  .nav-item {
    padding-bottom:0.1rem;
  }
  
  @media screen and (max-height: 780px)
  {
    .nav-menu-group {
      display:none;
    }
  }

  @media screen and (max-height:690px){
    .support-links, .version-info {
      display: none !important;
    }
    .paused-indicator {
      bottom:1rem !important;
    }
  }
  
  .paused-indicator {
    
    font-size: 2.75rem;
    bottom: 5rem;
    display: unset !important;
    
    @media screen and (max-height: 610px) {
      display: none !important;
    }
  }
}