body {
  --base-darkest: rgb(7, 7, 7);
  --base-darkest-rgb: 7, 7, 7;
  --base-darker: rgb(14, 14, 14);
  --base-darker-rgb: 14, 14, 14;
  --base: rgb(21, 21, 21);
  --base-rgb: 21, 21, 21;
  --base-lighter: rgb(28, 28, 28);
  --base-lighter-rgb: 28, 28, 28;
  --base-lightest: rgb(35, 35, 35);
  --base-lightest-rgb: 35, 35, 35;
  --base-lightest-2: rgb(42, 42, 42);
  --base-lightest-2-rgb: 42, 42, 42;
  --input-height: 2.1875rem;
  --color: rgb(240, 240, 240);
  --color-rgb: 240, 240, 240;
  --color-darker: rgb(220, 220, 220);
  --color-darke-rgb: 220, 220, 220;
  --color-darkest: rgb(160, 160, 160);
  --color-darkest-rgb: 160, 160, 160;
  --accent: rgb(255, 0, 144);
  --accent-rgb: 255, 0, 144;
  --table-link-color: var(--blue);
  --border-color: rgba(var(--color-rgb), 0.1);
  --input-background: rgb(49, 49, 49);
  --input-background-rgb: 49, 49, 49;
  --primary: #0366d6;
  --error: #ff4d76;
  --modified: rgba(var(--accent-rgb), 0.4);
  --flow-logic: var(--orange);
  --flow-input: var(--indigo);
  --flow-output: var(--green);
  --flow-subflow: var(--green);
  --flow-process: var(--cyan);
  --flow-buildstart: var(--teal);
  --flow-buildend: var(--teal);
  --flow-buildpart: var(--blue);
  --flow-communication: var(--yellow);
  --flow-failure: var(--error);
  --flow-script:#c14242;
}
