.navbar-toggler {
  background-color: transparent;
  outline: none !important;
}
.navbar-toggler .fas, .navbar-toggler .far, .navbar-toggler .fab {
  font-size: 1.3rem;
  padding-top: 0.2rem;
}

.top-row {
  height: 4.5rem;
}

.navbar-brand, .page-title {
  font-size: 1.5rem;
  font-weight: var(--bold, 600);
  display: none;
  cursor: pointer;
}
.navbar-brand svg, .page-title svg {
  margin-right: 0.25rem;
  position: relative;
  top: -0.1rem;
}
.navbar-brand .icon, .page-title .icon {
  margin-right: 0.5rem;
  font-size: 1.8rem;
  color: var(--accent);
}

.nav-menu-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 850px) {
  .nav-menu-container {
    overflow: hidden;
  }
  .nav-menu-container ul {
    overflow: hidden;
  }
}
.nav-menu-container .nav {
  flex: 1;
}
.nav .fas, .nav .far, .nav .fab {
  width: 2rem;
  font-size: 1.1rem;
  vertical-align: text-top;
  top: -2px;
}

.nav-menu-group, .nav-item {
  font-size: 0.9rem;
}

.nav-menu-group {
  padding-left: 1rem;
  text-transform: uppercase;
  font-weight: var(--nav-menu-bold, 700);
  display: inline-flex;
  align-items: end;
}
.nav-menu-group .icon {
  display: none;
}

.nav-item {
  position: relative;
  overflow: hidden;
  display: inline-flex;
}
.nav-item ::deep a {
  padding: 0 0 0 2rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: var(--color) !important;
  border-left: solid 0.5rem transparent;
}
.nav-item ::deep a.active {
  background-color: rgba(var(--accent-rgb), 0.3);
  border-color: var(--accent);
}
.nav-item ::deep a:hover {
  background-color: rgba(var(--accent-rgb), 0.1);
}

.paused-indicator {
  width: 100%;
  text-align: center;
  font-size: 4rem;
}
.paused-indicator > span {
  cursor: pointer;
}
.paused-indicator .paused {
  color: var(--accent);
}
.paused-indicator .not-paused {
  color: var(--color);
  opacity: 0.15;
}

.support-links {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}
@media screen and (max-width: 849.99px) {
  .support-links {
    display: none;
  }
}
.support-links a {
  color: rgba(var(--color-rgb), 0.4) !important;
  padding: 0 0.25rem;
}
.support-links a:hover {
  color: var(--accent) !important;
}

.page.collapsed .support-links {
  display: none;
}
.page.collapsed .nav-item.discord, .page.collapsed .nav-item.forum {
  display: unset;
}
.page.collapsed .bubbles {
  bottom: 2px;
  right: unset;
  left: 2rem;
}
.page.collapsed .bubbles .bubble + .bubble {
  display: none;
}
.page.collapsed .nav-menu-footer {
  text-align: center;
}
.page.collapsed .paused-indicator {
  font-size: 2rem !important;
}
.page.collapsed .paused-indicator span {
  padding-right: 0 !important;
}

.version-info {
  display: none;
}
.version-info a {
  color: rgba(var(--color-rgb), 0.4) !important;
}
.version-info a:hover {
  color: var(--accent);
}

@media (min-width: 850px) {
  .navbar-toggler {
    display: none;
  }
  .nav-menu-container, #ul-nav-menu {
    flex-wrap: nowrap;
  }
  .hide-menu {
    /* Never hide-menu the sidebar for wide screens */
    display: flex;
    flex-direction: column;
  }
  .navbar-brand {
    display: unset;
  }
  .version-info {
    display: inline-block;
    width: 100%;
    color: rgba(var(--color-rgb), 0.4);
    margin-top: 0.5rem;
  }
  .nav-menu-footer {
    height: fit-content;
    text-align: center;
    padding-bottom: 0.5rem;
  }
}
@media (min-width: 850px) and (max-height: 870px) {
  .nav-menu-footer .paused-indicator {
    font-size: 3rem;
  }
}
@media (min-width: 850px) and (max-height: 820px) {
  .nav-menu-footer div:not(:last-child) {
    display: inline;
  }
  .nav-menu-footer .paused-indicator {
    font-size: 1.5rem;
  }
  .nav-menu-footer .paused-indicator > span {
    padding-right: 0.75rem;
  }
  .nav-menu-footer .paused-indicator .not-paused {
    color: rgba(var(--color-rgb), 0.4) !important;
    opacity: 1 !important;
  }
}
@media (min-width: 850px) and (max-height: 600px) {
  .nav-menu-footer {
    display: none;
  }
}
@media (max-width: 849.99px) {
  .nav-menu-container.hide-menu {
    display: none;
  }
  .nav-item.discord, .nav-item.forum {
    display: none;
  }
  .nav-item.flows {
    display: none;
  }
  .page-title {
    display: unset;
  }
  .nav-menu-group {
    grid-column-start: 1;
    grid-column-end: -1;
    height: 2rem;
  }
  .nav-menu-group:not(:first-of-type) {
    margin-top: 1.5rem !important;
  }
  .nav-menu-group .text-label {
    margin-left: 1rem;
  }
  .nav-item {
    height: 6.5rem;
  }
  .nav-menu-container:not(.collapsed) {
    position: fixed;
    top: 3.7rem;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin: 0 !important;
    background: var(--base);
  }
  .nav-menu-container:not(.collapsed) ul:not(.bubbles) {
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
    display: grid;
    flex-direction: unset !important;
    grid-gap: 0.5rem;
    margin: 1rem;
  }
  .nav-menu-container:not(.collapsed) li {
    display: block;
    padding: 0 !important;
    margin: 0;
  }
  .nav-menu-container:not(.collapsed) li .icon {
    font-size: 3rem;
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .nav-menu-container:not(.collapsed) li a {
    height: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    place-content: center;
    padding: 0 0 1rem;
  }
  .nav-menu-container:not(.collapsed) li a.active {
    background: unset;
  }
  .nav-menu-container:not(.collapsed) li a.active .icon {
    color: var(--accent) !important;
  }
  .nav-menu-container:not(.collapsed) li a:hover, .nav-menu-container:not(.collapsed) li a:focus {
    background: none !important;
  }
  .nav-menu-container:not(.collapsed) .version-info {
    display: block;
    width: 100%;
    text-align: center;
    margin: 3rem 0;
  }
}
.bubbles {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 0.5rem;
  color: var(--color);
}
@media (max-width: 849.99px) {
  .bubbles {
    margin: 0 !important;
    display: flex !important;
    flex-direction: row;
    place-content: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .bubbles .bubble {
    margin: 0 !important;
  }
}
.bubbles .bubble {
  border: solid 1px var(--bubble-color);
  background: var(--base);
  border-radius: 1rem;
  font-size: 0.7rem;
  display: inline-block;
  text-align: center;
  min-width: 1.2rem;
  width: fit-content;
  padding: 0.1rem 0.25rem 0;
  font-weight: var(--bold, 600);
}
.bubbles .bubble.Unprocessed {
  --bubble-color: var(--blue);
}
.bubbles .bubble.Failed, .bubbles .bubble.critical {
  --bubble-color: var(--red);
}
.bubbles .bubble.Processing {
  --bubble-color: var(--green);
}
.bubbles .bubble.OnHold, .bubbles .bubble.warning {
  --bubble-color: var(--yellow);
}
.bubbles .bubble.error {
  --bubble-color: #d46a29;
}
.bubbles .bubble.d-00 {
  min-width: 1.5rem;
}
.bubbles .bubble.d-000 {
  min-width: 2.1rem;
}
.bubbles .bubble.d-0000 {
  min-width: 2.7rem;
}
.bubbles .bubble.d-00000 {
  min-width: 3rem;
}
.bubbles .bubble + .bubble {
  margin-left: 0.25rem !important;
}

.navbar-brand i {
  color: var(--color) !important;
  font-weight: unset !important;
  font-size: 1rem;
  position: relative;
  left: -0.5rem;
}

.user-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  background: var(--base-lightest);
  overflow: hidden;
  width: 16rem;
  border-radius: 0.5rem;
  top: 4rem;
  z-index: 1;
}
.user-menu span {
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.user-menu span:hover {
  background: var(--base);
}

.user-menu-opened .navbar-brand i {
  transform: rotate(90deg);
}
.user-menu-opened .user-menu {
  display: flex;
}
