.flowtable {
    .output {
        width: 6rem;
        text-align: center;
    }

    .node {
        width: auto;
    }

    .time {
        width: 10rem;
    }

    .output-error td {
        color: var(--error);
        font-weight: var(--bold, 600);
    }

    .output-exit td {
        color: var(--success);
        font-weight: var(--bold, 600);
    }
    
    .failure-flow-input td {
        color:var(--orange);
    }
    
    .depth-start td, .depth-end td {
        color: var(--yellow);        
    }
    
    .view-log i {
        cursor:pointer;
    }
}

@media screen and (min-width:1000px) and (max-width: 1450px) {
    .table .node {
        width: min(20vw, 16rem)
    }
}

.log-partial-viewer .editor {
    position:fixed;
    right:0;
    top:0;
    bottom:0;
    max-width: 100%;
    background:var(--base-darker);
    z-index:6;
    width:65%;    
    border-left: 1px solid var(--border-color);
    &.maximised{
        left:0;
    }    
}

@media screen and (max-width: 720px) 
{
    .log-partial-viewer .editor {
        left: 0;
        border-left: none;
    }
}