select {
  width: 100%;
  max-width: 40rem;
  background-color: var(--input-background) !important;
  color: var(--color) !important;
  height: var(--input-height, 2.1875rem);
  line-height: 1.5;
  font-size: 1rem;
  border-color: transparent;

  &:focus {
    outline: 1px solid var(--accent);
  }

  &.select-one {
    color: rgba(var(--color-rgb), 0.3) !important;
  }

  option {
    &:not(.select-one) {
      color: var(--color) !important;
    }

    &:checked {
      background-color: rgba(var(--accent-rgb), 0.3);
    }
  }
}
input[type=datetime-local] {
  width: 100%;
  height: var(--input-height, 2.1875rem);
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.1875rem 0.625rem;
  max-width: 40rem;
  margin-top:0.5rem;

  &:read-only {
    filter: opacity(0.5);
  }
}

::deep .flow-period-wrapper {
  margin-top:0.5rem;
}
