::deep .flow-tabs {
  max-height: 100%;
}
::deep .flow-tabs .flow-tabs-content {
  overflow: auto;
}

.full-width ::deep textarea, .full-width ::deep input[type=text], .full-width ::deep input[type=number] {
  max-width: unset;
}

.hide-fields-scrollbar ::deep .content > .fields {
  overflow: hidden;
}

.flow-element-editor-overlay.background-overlay {
  z-index: 5;
}

.flow-element-editor {
  z-index: 6;
}
.flow-element-editor.maximised {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  bottom: 0;
}
.flow-element-editor.maximised .editor {
  width: 100%;
}
.flow-element-editor .editor {
  position: unset;
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  height: 100%;
}
.flow-element-editor .editor ::deep .input-label i.fa-clipboard {
  display: none;
}
.flow-element-editor .editor ::deep .input-label:hover i.fa-clipboard {
  display: unset;
}
