.template {
  user-select: none;
  cursor: pointer;
  border:solid 1px transparent;
  border-left:solid 0.5rem transparent;
  margin:0.25rem;
  background:#85858512;
  padding:0.5rem;
  position: relative;
  border-radius:0.5rem;
  &.missing-dependencies {
    opacity:0.6;
  }
  &.selected {
    border-color: var(--accent);
    .author {
      background:var(--accent);
    }
  }
  .name {
    display:block;
    font-weight: var(--bold, 600);
    i, img {
      margin-right: 0.75rem;
      width: 1.25rem;
      text-align: center;
    }
    i.subflow {
      color:var(--yellow);
    }
    i.failure {
      color:var(--danger);
    }
    i.standard {
      color:var(--flow-process);
    }
    img {
      width:1rem;
    }
  }
  .tags {
    display: block;
  }
  .author {    
    display: block;
    font-weight: var(--bold, 600);
    position: absolute;
    top: 0;
    right: 0;
    background: #3f3f3f8c;
    padding: 0.25rem 0.75rem;
    font-size: 0.9rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
  }
  &.missing-dependencies .author {
    background:var(--danger);
  }
  .description {
    display: block;
    white-space:pre-line;
  }
  .extra-info {
    display:none;
  }
  &.expanded {
    .extra-info{
      display:block;
    }
  }
}

.extra-info {
  border-top: solid 1px var(--input-background);
  margin-top: 0.5rem;
  padding-top: 0.5rem;
  font-size:0.9rem;
}

.label {
  font-weight:var(--bold, 600);
  margin-right:0.5rem;
}

.plugins-and-scripts {
  div {
    margin-top:0.5rem;
  }
  span {
    margin-right: 0.5rem;
    border: solid 1px var(--flow-process);
    padding: 0.25rem;
    &.script {
      border-color: var(--flow-script);
    }
  }
}